.footer-container {
    background-color: lightblue;
    width: 100%;
    padding: 2rem 0;
    text-align: center;
}

/* LOGO SIZE */
.logo img {
    height: 50px;
    width: auto;
}

/* .logo {
    display: flex;
    justify-content: center;
} */

.footer-icon-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 10rem;
    align-items: center;
}
  
.footer-section {
    text-align: center;
}
  
.footer-section img {
    width: 60px; /* You may adjust the width as necessary */
    height: auto;
}


  