body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.landing {
    text-align: center;
}

.header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

.logo {
    width: 150px;
}

.navigation ul {
    list-style: none;
    padding: 0;
}

.navigation ul li {
    display: inline;
    margin-right: 20px;
}

.navigation a {
    color: #fff;
    text-decoration: none;
}

.hero {
    padding: 50px 20px;
    background: url('header-background.jpg') no-repeat center center/cover;
}

.hero h1 {
    margin: 0;
    color:black;
}

.hero p {
    color: black;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background: #0066cc;
    color: #fff;
    text-decoration: none;
}

.services, .about, .portfolio {
    padding: 20px 0;
}

  
  .footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer-section h2,
  .footer-section p {
    margin: 5px 0;
  }
  
  .footer-section img {
    width: 20px;
    height: auto;
    margin-right: 8px;
  }
  
  /* Responsive layout for smaller screens */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
    
    .footer-section {
      margin-bottom: 10px;
    }
  }
